@import url("https://fonts.google.com/specimen/Spartan");
*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: "Spartan",sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    align-self: center;
}
p {
    font-size: 15px;;
}
/* Hero Text */
.hero {
    text-align: center;
}
.hero h1 {
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 700;
    color:hsl(300, 43%, 22%)    
}
.hero p {
    color: hsl(303, 10%, 53%);
}

/* Stars */
.star-review {
    background-color: hsl(300, 24%, 96%);
    margin: 20px 0;
    padding: 1em;
    text-align: center;
    border-radius: 13px;
}
.star-review p {
    color: hsl(300, 43%, 22%)
}
/* User Reviews */
.review {
    background-color: hsl(300, 43%, 22%);
    margin:20px 0;
    padding: 2em 3em;
    border-radius: 13px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.user-pic {
    width: 15%;
    border-radius: 50%;
    margin-right: 10px;
}
.user-text p:first-of-type {
    color: white;
}
.verified {
    color:hsl(333, 80%, 67%);
}
.message {
    color:hsl(300, 24%, 96%);
}

@media (min-width:1000px) {
    body {
        background-image: url("images/bg-pattern-bottom-desktop.svg"), url("images/bg-pattern-top-desktop.svg");
        background-repeat: no-repeat,no-repeat;
        background-position: right bottom,left top;
    }
    .body {
        display: flex;
        align-items: center;
        height: 100vh;
    }
    
    .container {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "hero hero stars stars"
        "review review review review";
        grid-gap: 40px;
    }
    .hero {
        grid-area: hero;
        text-align: left;
    }
    .hero-text {
        width: 80%;
    }
    .hero h1 {
        font-size: 50px
    }
    .stars {
        grid-area: stars;
    }
    .star-review {
        position: relative;
        width: 70%;
        margin: 0 auto;
        display: flex;
        margin-bottom: 10px;
    }
    .star-pics {
        margin-right: 20px;
    }
    .star-review:nth-child(2){
        left: 20px;
    }
    .star-review:nth-child(3){
        left:40px;
    }
    .reviews {
        grid-area: review;
        display: flex;
    }
    .review {
        margin: 20px;
        position: relative;
    }
    .review:nth-child(2){
        top:20px
    }
    .review:nth-child(3) {
        top: 40px;
    }
}